.dropdown {
	width: 30%;
	overflow: hidden;
	padding: 0px;
	border: 1px solid rgb(234, 234, 234);
}

.dropdownBtn {
	font-size: 12px;
	text-align: center;
	width: 100%;
	color: #fff;
	padding: 3px 20px;
	border-radius: 3px;
	cursor: pointer;
	border: none;
}
.dropdown-content {
	width: 100%;
	display: none;
}
.dropdown-content a {
	display: block;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	font-size: 15px;
	color: #817c7c;
}
.dropdown-content a:hover {
	border-bottom: 1px solid rgb(214, 214, 214);
}
.dropdown-content a:active {
	background: #f6f3f3;
}
.dropdown:hover .dropdown-content {
	display: block;
}

.w_100 {
	width: 100%;
}
.w-80 {
	width: 80% !important;
}
.w-70 {
	width: 70%;
}
.w-60 {
	width: 60%;
}
.w-50 {
	width: 50%;
}
.float-rigth {
	float: right;
}

.mt-15 {
	margin-top: -15px;
}
.ml-20 {
	margin-left: 20px;
}

.yellow {
	color: #ffc107 !important;
}
.grey {
	color: grey !important;
}
.cursor-pointer {
	cursor: pointer;
}
.leftBox {
	float: left;
	height: 40px;
}

.imgBoxPost {
	width: 9%;
	height: 40px;
	overflow: hidden;
	border-radius: 5px;
}
.imgBoxPost img {
	width: 100%;
	height: 100%;
}
